<div class="tabs">
  <a
    routerLink="bookmarks"
    routerLinkActive="selected"
    class="tab bookmarks-tab"
  >
    <div class="tab-title">
      <mat-icon class="bookmarks_icon"> bookmark_border </mat-icon>
    </div>
  </a>
  <a routerLink="todos" routerLinkActive="selected" class="tab todos-tab">
    <div class="tab-title">
      <mat-icon class="check_icons"> check </mat-icon>
    </div>
  </a>
  <a routerLink="notes" routerLinkActive="selected" class="tab notes-tab">
    <div class="tab-title">
      <mat-icon class="notes_icon"> notes </mat-icon>
    </div>
  </a>
</div>
