.manage__bookmarks-wrapper {
  display: flex;
  height: 100%;
}

.sidebar {
  height: 100%;
  width: 200px;
  background-color: rgba(black, 0.7);
  backdrop-filter: blur(8px);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  overflow: auto;
}

.content__section {
  flex-grow: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: auto;
}

.sidebar__heading {
  color: rgba(white, 0.8);
  font-weight: bold;
  font-size: 20px;
  padding: 11px 25px;
}

.sidebar__items {
  display: flex;
  flex-direction: column;
}

.sidebar__item {
  position: relative;
  color: rgba(white, 0.8);
  font-size: 18px;
  padding: 5px 25px;

  &:hover {
    color: rgba(white, 0.85);
  }

  &:selected {
    color: rgba(white, 0.95);
  }
}

.sidebar__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: rgba(white, 0.8);

  transition: 0.2s;
  //hide by default
  opacity: 0;
  transform: scaleY(0);
}

.sidebar__item.selected::before {
  opacity: 1;
  transform: scaleY(1);
}
