.app__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  // background-image: url(https://source.unsplash.com/random/1920x1080);
}

.bg-img {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.top__section {
  // background-color: aquamarine;

  text-align: center;
  padding: 50px 0;

  h1 {
    font-size: 120px;
    font-weight: bold;
    color: #f5f5f5;
    text-shadow: 0px 1px 7px rgba(black, 0.12);
  }

  h2 {
    font-size: 28px;
    color: white;
    text-shadow: 0px 1px 4px rgba(black, 0.12);
  }
}

.content__section {
  // background-color: cadetblue;
  flex-grow: 1;
  min-height: 0;
}

.bottom__section {
  // background-color: darkorange;
  display: flex;
  app-tabs {
    margin: auto;
  }
}

.change__bg-wall {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 1px;

  background: rgba(black, 0.1);
  color: rgba(white, 0.7);

  &:hover {
    background: rgba(black, 0.3);
    color: white;
  }

  &:active {
    transform: translateY(1px);
  }
}

//Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {
  .top__section {
    padding: 20px 0;
  }
}

//Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {
  .top__section {
    padding: 35px 0;
  }
}

// Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
  .top__section {
    padding: 30px 0;
  }
}

/*  
//Medium devices (landscape tablets, 768px and up)
 @media only screen and (min-width: 768px) {
   
 }

//Large devices (laptops/desktops, 992px and up) 
 @media only screen and (min-width: 992px) {
   
 }

 // Extra large devices (large laptops and desktops, 1200px and up) 
 @media only screen and (min-width: 1200px) {
   
 }

*/
