<div class="app__wrapper main">
  <img
    [src]="bg"
    class="bg-img"
    alt="U/A"
    *ngFor="let bg of backgroundImage.reverse()"
    (load)="onBgImageLoad($event)"
    @bgAnimation
  />

  <div
    class="btn change__bg-wall"
    (click)="changeBgImage()"
    *ngIf="!loadingBgImage"
    @fadeAnimation
  >
    <mat-icon> refresh </mat-icon>
  </div>
  <div class="btn return__home" (click)="returnHome()">
    <mat-icon>home</mat-icon>
  </div>
  <div class="top__section">
    <h1>{{ dateTime | async | date : "HH:mm" }}</h1>
    <h2>{{ dateTime | async | date : "d MMMM y" }}</h2>
  </div>

  <div class="content__section" [@routeAnimation]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

  <div class="bottom__section">
    <app-tabs></app-tabs>
  </div>
  <app-notification></app-notification>
</div>
